<div class="container">
  <h1>Stupid Coaching</h1>
  <label for="question">Ask your coach anything:</label>
  <form class="form-inline" action="/answer">
    <div class="form-group">
      <input type="text" id="question" class="form-control" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>

